:root {
    --primary-color: #538ddf;
    --secondary-color: #ffffff;
    --accent1-color: #4f495a;
    --accent2-color: #344055;
    --gradient: linear-gradient(45deg, var(--blue-color), var(--white-color));
    font-family: "Roboto", san-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo-box {
    margin: 0 0.25rem 0 1rem;
    padding-left: 100px;
    width: 100px;
    height: auto;
  }
  
  header {
    background-color: whitesmoke;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between links */
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
  }
  
  .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* border-radius: 5px; */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00246b;
    font-size: 1.5rem;
  }
  
  nav {
    padding-right: 150px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

li .form-line {
    display: flex;
    gap: 3.5%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body {
    line-height: inherit;
    margin: 0px;
}

label {
    cursor: default;
}

user agent stylesheet
ul {
    list-style-type: disc;
}

div {
    display: block;
    unicode-bidi: isolate;
}