:root {
  --primary-color: #538ddf;
  --secondary-color: #ffffff;
  --accent1-color: #4f495a;
  --accent2-color: #344055;
  --gradient: linear-gradient(45deg, var(--blue-color), var(--white-color));
  font-family: "Roboto", san-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

.logo-box {
  margin: 0 0.25rem 0 1rem;
  padding-left: 100px;
  width: 100px;
  height: auto;
}

header {
  background-color: whitesmoke;
  color: white;
  padding: 10px 20px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between links */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background .3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* border-radius: 5px; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00246b;
  font-size: 1.5rem;
}

nav {
  padding-right: 150px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}


footer {
  display: flex;
  /* align-items: center; */
  justify-content: right;
  /* border: 5px green solid; */
  margin-top: 140px;
  height: fit-content;
}

footer {
  width: 100%;
  background-color: black;
  padding: 10px;
  padding-top: 15px;
  color: white;
}

div.author {
  flex: 0.9;
  text-align: center;
}

nav.sociallinks {
  display: flex;
  padding: 0;
  gap: 10px;
}

.sociallinks img {
  width: 24px;
  height: auto;
}

