* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background-color: #eee;
}

header {
    margin: 0;
    width: 650px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: left;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px;
}